

.dragndrop__header {
  width: 99%;
  height: 60px;
  background-color: white;
  text-align: center;
  font-size: 20px;

  border: 1px solid rgba(0, 0, 0, 0.281);
  background-color: rgba(144, 238, 144, 0.322);
}


  